{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
<div class="container">
    {{form(contactForm)}}
</div>
{% endblock %}
